/* =========================
   LAYOUT
========================= */
.login-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4fff4;
  padding: 20px;
}

/* =========================
   CARD
========================= */
.login-box {
  width: 400px;
  background: white;
  padding: 35px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  text-align: center;
}

.login-box h2 {
  margin-bottom: 10px;
  font-size: 28px;
}

.login-box p {
  margin-bottom: 20px;
  color: #666;
}

/* =========================
   FORM
========================= */
.login-box form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.login-box input {
  padding: 14px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  transition: all 0.2s ease;
}
.input-label {
  display: block;
  text-align: left;
  font-size: 13px;
  font-weight: 500;
  color: #444;
  margin-bottom: 6px;
  margin-top: 10px;
}
.form-group {
  display: flex;
  flex-direction: column;
}
/* focus state */
.login-box input:focus {
  border-color: #2e7d32;
  outline: none;
  box-shadow: 0 0 0 2px rgba(46, 125, 50, 0.2);
}

/* =========================
   PASSWORD FIELD
========================= */
.password-wrapper {
  position: relative;
  width: 100%;
}

.password-wrapper input {
  width: 100%;
  padding-right: 40px;
}

.eye-icon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 18px;
  color: #666;
}

/* =========================
   BUTTON
========================= */
.login-box button {
  padding: 14px;
  border: none;
  border-radius: 8px;
  background-color: #2e7d32;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.login-box button:hover {
  background-color: #256428;
}

.login-box button:active {
  transform: scale(0.97);
}

/* =========================
   LINKS / TEXT
========================= */
.bottom-text {
  margin-top: 20px;
  font-size: 14px;
}

.bottom-text a {
  color: #2e7d32;
  text-decoration: none;
  font-weight: bold;
}

.forgot-password {
  text-align: right;
  margin-top: -8px;
  margin-bottom: 10px;
}

.forgot-password a {
  text-decoration: none;
  color: #2e7d32;
  font-size: 14px;
  font-weight: 500;
}

/* =========================
   VALIDATION STATES
========================= */
.error {
  color: #d32f2f;
  font-size: 12px;
  text-align: left;
  margin-top: -10px;
}

.form-error {
  background-color: #fdecea;
  color: #d32f2f;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 15px;
  font-size: 14px;
  text-align: center;
}

